+++
title = "Home"
linkTitle = "Home"
+++

<script>
window.location.replace("docs/")
</script>


<!-- {{< blocks/section color="none">}} -->
<!--   <div class=""> -->
<!--     <p> This website contains interactive material and exercises designed -->
<!--       by <a href="http://www.morisset.eu">Dr Charles Morisset</a> at -->
<!--       <a href="https://www.ncl.ac.uk/computing/">Newcastle University</a>, in the context of the CSC3124 System and Network Security module.  -->
<!--     </p> -->
<!-- 	<\!-- <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}"> -\-> -->
<!-- 	<\!-- 	Access Control <i class="fas fa-arrow-alt-circle-right ml-2"></i> -\-> -->
<!-- 	<\!-- </a> -\-> -->
<!-- </div> -->
<!-- {{< /blocks/section >}} -->

