{{ $URL := "http://localhost:1313/protocolgame"  }}

<script src="{{ $URL }}/src/svg.js" type="text/javascript"></script>
<script src="{{ $URL }}/src/Agent.js" type="text/javascript"></script>
<script src="{{ $URL }}/src/Fact.js" type="text/javascript"></script>
<script src="{{ $URL }}/src/NetStack.js" type="text/javascript"></script>
<script src="{{ $URL }}/src/Command.js" type="text/javascript"></script>
<script src="{{ $URL }}/src/ProtocolGame.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ $URL }}/style_game_v2.css">

<body onload="c1.retrieve_cmds();">

