 <script src="https://morisset.gitlab.io/protocolgame/src/svg.js" type="text/javascript"></script>
 <script src="https://morisset.gitlab.io/protocolgame/src/Agent.js" type="text/javascript"></script>
 <script src="https://morisset.gitlab.io/protocolgame/src/Fact.js" type="text/javascript"></script>
 <script src="https://morisset.gitlab.io/protocolgame/src/NetStack.js" type="text/javascript"></script>
 <script src="https://morisset.gitlab.io/protocolgame/src/Command.js" type="text/javascript"></script>
 <script src="https://morisset.gitlab.io/protocolgame/src/ProtocolGame.js" type="text/javascript"></script>
 <link rel="stylesheet" href="https://morisset.gitlab.io/protocolgame/style.css">

<body onload="c1.retrieve_cmds();">

